/inputs/CREA
/.classpath
/.gradle
/.settings
/.project
/bin
build
.vscode
/inputs/webfonts
/inputs/ARCHITECTURE SITE FITNESS PARK HEREOS.pdf
/inputs/*.csv
/inputs/*.tsv
/inputs/*.sql
/inputs/fp_heroes_2019.tar.gz
/inputs/fp_heroes_2019.gz
